body {
  font-family: Arial, sans-serif;
  background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="submit"],
button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

button {
  background-color: #f44336;
  color: white;
}

button:hover {
  background-color: #d32f2f;
}

  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  #dashboardContainer {
    max-width: 760px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #dashboardContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  #dashboardContainer a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  #dashboardContainer a:hover {
    text-decoration: underline;
  }
  #loginContainer {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #loginContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }